.header {
    margin: 0%;
    padding: 0%;
}

.Nav .container-fluid {
    background: linear-gradient(top, blue, red);
    font-size: 25px;
    img {
        width: 150px;
        height: 100%;
    }
    .navbar-collapse {
        justify-content: center;
    }
    @media (max-width:910px) {
        img{
            width: 125px;
            height: 100%;
        }
        
    }

    @media (max-width:600px) {
        img{
            width: 100px;
            height: 100%;
        }
        
    }
    @media (max-width: 414px){
        img{
            width: 75px;
            height: 100%;
        
        }
    }
}