.header {
    margin: 0%;
    padding: 0%;
}

.Nav .container-fluid {
    background: linear-gradient(top, blue, red);
    font-size: 25px;
    img {
        width: 150px;
        height: 100%;
    }
    .navbar-collapse {
        justify-content: center;
    }
}